[user]
	email = richdel1991@gmail.com
	name = Newky
[diff]
	external = git_diff_wrapper.sh
[pager]
	diff = 
[push]
	default = tracking
[alias]
	unstage = reset HEAD
	st = status
	co = checkout
	br = branch
	branchrename = branch -m
	currbranch = rev-parse --abbrev-ref HEAD
	cov = commit --no-verify
	ll = log --oneline --color
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ndiff = diff --no-ext-diff
	nndiff = diff --no-ext-diff --name-only 
	cdiff = diff --cached
	rpull = pull --rebase
	pom = push origin master
	cm = checkout master
	adu = add -u
	lastmessage = log -1 --pretty=%s 
[branch]
	autosetuprebase = always
[mergetool "vimdiff3"]
	cmd = vim -f -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[color]
	ui = auto
