" Python specific vim stuff
set columns=83

let python_highlight_all=1
" highlight suspicious whitespace
highlight BadWhitespace ctermbg=red guibg=red
"
" "display tabs at the beginning of a line in Python mode as bad.
au BufRead,BufNewFile *.py,*.pyw match BadWhitespace /^\t\+/
" " Make trailing whitespace be flagged as bad.
au BufRead,BufNewFile *.py,*.pyw,*.c,*.h match BadWhitespace /\s\+$/
" " Make leading whitespace be flagged as bad.
"au BufRead,BufNewFile *.py,*.pyw,*.c,*.h match BadWhitespace /^ \+/
 
