# note create
function note()
{
	if [ ! -d $HOME/Notes/ ]; then
		mkdir $HOME/Notes/
	fi;

	vim -p $HOME/Notes/$1.note
}

function tmpnote()
{
    if [ $1 ]; then
        vim -p /tmp/$1.note
    else
        vim -p /tmp/`date "+%s"`.note
    fi
}

function note-rm()
{
	if [ -d $HOME/Notes/ ]; then
		rm $HOME/Notes/$1.note
    fi;
}

function note-list()
{
    if [ -d $HOME/Notes/ ]; then
		ls -tr $HOME/Notes/ | sed "s/\.note//"
    fi;
}
