export TAG_DIR=$HOME/.tags

if [ ! -d "$TAG_DIR" ]; then
	mkdir $TAG_DIR
fi;

for dir in `ls $TAG_DIR`
do
	export "$dir"=$TAG_DIR/$dir/
done

function list_tag {
	ls -tr $TAG_DIR;
}

function make_tag {
	mkdir -p $TAG_DIR/$1/
	export "$1"=$TAG_DIR/$1/
}

function rm_tag {
	unset "$1"
	for file in `ls $TAG_DIR/$1/`
	do
		unlink $file
	done
	rmdir $TAG_DIR/$1/
}

function tag {
	tag_name="$1"
	specific_tag_dir="$TAG_DIR/$tag_name"
	if [ ! -d $specific_tag_dir ]; then
		echo "$tag_name does not exist"
		return
	fi;
	if [ ! $# -ge 2 ]; then
		echo "not enough arguments"
		return
	fi;
	for file_to_link in "$@"
	do
		ln -s $file_to_link $specific_tag_dir
	done
}
