# simplistic tasks / todo functions.
# to add do: tplus "string of todo"
# to list do: tasks
# to remove item x: tminus x
tplus () {
	if [ ! -f ~/save ];
	then
		echo "0 $1" >> ~/.save
	else
		cat ~/.save | wc -l | xargs -I lno echo "lno. $1" >> ~/.save
	fi
	}

tminus () {
	cat ~/.save | grep -v "^$1. " > ~/.save.bk
	cp ~/.save.bk ~/.save
	}

tasks () {
	cat ~/.save
	}



